<?xml version="1.0" encoding="UTF-8"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="1.0">
	<persistence-unit name="br.edu.unipam.rest" transaction-type="JTA">
		<provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
   		<jta-data-source>consultorio</jta-data-source>
   		
   		<class>br.com.consultorio.entity.Cidade</class>
		<class>br.com.consultorio.entity.Consulta</class>
		<class>br.com.consultorio.entity.Endereco</class>
		<class>br.com.consultorio.entity.Especializacao</class>
		<class>br.com.consultorio.entity.FormaPagamento</class>
		<class>br.com.consultorio.entity.Login</class>
		<class>br.com.consultorio.entity.Medico</class>
		<class>br.com.consultorio.entity.Paciente</class>
		<class>br.com.consultorio.entity.Pessoa</class>
		<class>br.com.consultorio.entity.Secretaria</class>
		<class>br.com.consultorio.entity.Sexo</class>
		<class>br.com.consultorio.entity.Telefone</class>
		<class>br.com.consultorio.entity.UnidadeFederativa</class>
		
		<properties>
			<property name="eclipselink.logging.level" value="FINE"/>
			<property name="eclipselink.logging.parameters" value="true"/>
			<property name="eclipselink.ddl-generation" value="create-tables"/>
		</properties>
	</persistence-unit>
</persistence>

